/* GroupDetails.css - Fidelity Edition */
.group-details {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    animation: slide-in 0.5s forwards;
    z-index: 1000;
    /* Higher than header */
    background-color: white;
    width: 300px;
    padding-top: 50px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    color: #333;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.details-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

.group-name {
    color: white;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.group-name h3 {
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 1.8em;
    background-color: #333;
    /* Fallback */
}

.group-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 0.8em;
}

.group-bio {
    margin: 20px 10px;
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.4;
}

.group-hours {
    font-weight: bold;
}